.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  @apply bg-primary bg-opacity-40 p-8 dark:bg-[#2c2c6c];
  text-align: center;
  padding: 1.2rem;
  border-radius: 1.2rem;
  transition: all 400ms ease;
}
.contact__option-icon {
  @apply dark:text-primary;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  @apply text-secondary dark:text-slate-400;
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ==========form=================== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  @apply rounded-xl border-2 border-primary bg-transparent dark:border-[#2c2c6c] dark:text-white;
  width: 100%;
  padding: 1.5rem;
  resize: none;
}

/* ======media queries for tablets(medium devices) =========*/

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* ======media queries for mobile(small devices) =========*/

@media screen and (max-width: 600px) {
  .contact__container {
    width: 90%;
  }
}
